@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Zacharias Ioannou<br />
    Where code lives<br />
    <abbr title="Phone">P:</abbr>
    6976916446
</address>

<address>
    <strong>Support:</strong> <a href="mailto:zioannou77@gmail.com">zioannou77@gmail.com</a><br />
</address>
